<<<<<<< HEAD
<footer>
    <div class="footer-container">
        <p>&copy; <%= new Date().getFullYear() %> Hostel Management System. All rights reserved.</p>
    </div>
</footer>
=======
<footer>
    <div class="footer-container">
        <p>&copy; <%= new Date().getFullYear() %> Hostel Management System. All rights reserved.</p>
    </div>
</footer>
>>>>>>> 5deacb7d32ce0bc057ab3ee486e159913ed1d163
