<!DOCTYPE html>
<html>
<head>
    <title>Security Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Security Login</h2>
        <form action="/login/security" method="POST">
            <label>Email:</label><br>
            <input type="email" name="email" required><br>
            
            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>

            <button type="submit">Login</button>
        </form>

        <p><a href="/forgot-password">Forgot Password?</a></p>
        <p>Don't have an account? <a href="/register/security">Register here</a></p>
        <a href="/">Back</a>
    </div>
</body>
</html>
