
<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Student Login</h2>
    <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <select name="role" required>
        <option value="">Select Role</option>
        <option value="student">Student</option>
        <option value="warden">Warden</option>
        <option value="admin">Admin</option>
        <option value="security">Security</option>
    </select><br>
    <button type="submit">Login</button>
</form>

</body>
</html>

