<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <title>Warden Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Warden Registration</h2>
    <form action="/register/warden" method="POST">
        
        <label>Name:</label><br>
        <input type="text" name="name" required><br>
        
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br>
        
        <label>Hostel ID:</label><br>
        <input type="number" name="hostel_id" required><br>
        
        <button type="submit">Register</button>
    </form>
    <a href="/choose_login">Back</a>
</body>
</html>
=======
<!DOCTYPE html>
<html>
<head>
    <title>Warden Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Warden Registration</h2>
    <form action="/register/warden" method="POST">
        
        <label>Name:</label><br>
        <input type="text" name="name" required><br>
        
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br>
        
        <label>Hostel ID:</label><br>
        <input type="number" name="hostel_id" required><br>
        
        <button type="submit">Register</button>
    </form>
    <a href="/choose_login">Back</a>
</body>
</html>
>>>>>>> 5deacb7d32ce0bc057ab3ee486e159913ed1d163
