<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Student Registration</h2>
    <form action="/register/student" method="POST">
        <label>Student ID:</label><br>
        <input type="text" name="student_id" required><br>
        <label>Name:</label><br>
        <input type="text" name="name" required><br>
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        <label>Password:</label><br>
        <input type="password" name="password" required><br>
        <label>Room No:</label><br>
        <input type="text" name="room_no" required><br>
        <label>Course:</label><br>
        <input type="text" name="course" required><br>
        <label>Year:</label><br>
        <input type="text" name="year" required><br><br>
        <button type="submit">Register</button>
    </form>
    <a href="/choose_login">Back</a>
</body>
</html>
