<!DOCTYPE html>
<html>
<head>
    <title>Warden Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <h2>Welcome, <%= user.name %> (Warden)</h2>

        <div class="card-container">
            <a href="/warden/markAttendance" class="card">Mark Attendance</a>
<a href="/warden/approveOutpass" class="card">Approve Outpasses</a>
<a href="/warden/viewStudents" class="card">View Students</a>


        </div>

        <a href="/logout" class="logout-btn">Logout</a>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
